{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Mazer Admin Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/pages/auth.css' %}">
    
    
    <!--begin::Vendor Stylesheets(used by this page)-->
	<link href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}?time={% now 'h:i:s' %}"
    rel="stylesheet" type="text/css" />
	<link href="{% static 'assets/plugins/custom/vis-timeline/vis-timeline.bundle.css' %}?time={% now 'h:i:s' %}"
    rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/plugins/global/plugins.bundle.css' %}?time={% now 'h:i:s' %}" rel="stylesheet"
    type="text/css" />
    <link href="{% static 'assets/css/style.bundle.css' %}?time={% now 'h:i:s' %}" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
    
    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    
</head>

<body>
    <div id="auth">

        <div class="row h-100">
            <div class="col-lg-5 col-12">
                <div id="auth-left">
                    <div class="auth-logo">
                        <a href="{% url 'users:home' %}"><img src="{% static 'assets/images/logo/logo.png' %}" alt="Logo"></a>
                    </div>
                   
                   <form id="_change_password_from" data-redirect-url="{% url 'users:auth_login' %}" method="post">
                    {% csrf_token %}


                    <div class="form-group fv-row position-relative has-icon-left mb-4">
                        <input type="password" class="form-control form-control-xl" name="password" placeholder="Password">
                        <div class="form-control-icon">
                            <i class="bi bi-shield-lock"></i>
                        </div>
                    </div>

                    <div class="form-group fv-row position-relative has-icon-left mb-4">
                        <input type="password" class="form-control form-control-xl" name="confirm_password" placeholder="Confirm Password">
                        <div class="form-control-icon">
                            <i class="bi bi-shield-lock"></i>
                        </div>
                    </div>

                    <button type="button"
                            class="btn btn-primary btn-block btn-lg shadow-lg mt-5"
                            id="_change_password_submit">
                        Change Password
                    </button>

                    </form>
                </div>
            </div>
            <div class="col-lg-7 d-none d-lg-block">
                <div id="auth-right">

                </div>
            </div>
        </div>

    </div>
</body>


    <!-- Global Variables JS -->
    <script>var hostUrl = "{% static 'assets/' %}";</script>
	<script src="{% static 'assets/plugins/global/plugins.bundle.js' %}?time={% now 'h:i:s' %}"></script>
	<script src="{% static 'assets/js/scripts.bundle.js' %}?time={% now 'h:i:s' %}"></script>
	<script src="{% static 'assets/plugins/custom/formrepeater/formrepeater.bundle.js' %}?time={% now 'h:i:s' %}"></script>
	<script src="{% static 'assets/plugins/custom/datatables/datatables.bundle.js' %}?time={% now 'h:i:s' %}"></script>
	<script src="{% static 'assets/plugins/custom/vis-timeline/vis-timeline.bundle.js' %}?time={% now 'h:i:s' %}"></script>
	<!--end::Javascript-->

    <!-- JS Toastr -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "timeOut": "4000",
            "extendedTimeOut": "1000"
        };

        // Show Django messages automatically
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success" %}
                    toastr.success("{{ message }}");
                {% elif message.tags == "error" %}
                    toastr.error("{{ message }}");
                {% elif message.tags == "warning" %}
                    toastr.warning("{{ message }}");
                {% else %}
                    toastr.info("{{ message }}");
                {% endif %}
            {% endfor %}
        {% endif %}
    </script>
    <!-- Toastr END -->

<script>
"use strict";

var RegisterGeneral = function () {

    var form;
    var submitButton;
    var validator;

    // ================= BASE64 CONVERTER =================
    function convertImageToBase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();

            reader.onload = function (e) {
                resolve(e.target.result); // base64 string
            };

            reader.onerror = reject;
            reader.readAsDataURL(file);
        });
    }

    var handleForm = function () {

        // ================= VALIDATION =================
        validator = FormValidation.formValidation(form, {
            fields: {

                password: {
                    validators: {
                        notEmpty: { message: 'Password is required' }
                    }
                },

                confirm_password: {
                    validators: {
                        notEmpty: { message: 'Confirm password required' },
                        identical: {
                            compare: function () {
                                return form.querySelector('[name="password"]').value;
                            },
                            message: 'Passwords do not match'
                        }
                    }
                },
            },

            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                bootstrap: new FormValidation.plugins.Bootstrap5({
                    rowSelector: '.fv-row'
                })
            }
        });

        // ================= CLICK EVENT =================
        submitButton.addEventListener('click', async function (e) {

            e.preventDefault();

            const status = await validator.validate();

            if (status !== 'Valid') {
                toastr.error("Please fix form errors.");
                return;
            }

            submitButton.disabled = true;
            submitButton.setAttribute('data-kt-indicator', 'on');

            try {

                // ===== NORMAL FORM DATA =====
                let formData = $(form).serializeArray();

                // ===== AJAX =====
                $.ajax({
                    url: "{% url 'users:change_password' %}",
                    type: "POST",
                    data: $.param(formData),

                    success: function (data) {

                        if (data.status) {

                            toastr.success(data.message || "Registration successful");

                            form.reset();

                            const redirectUrl = form.dataset.redirectUrl;

                            if (redirectUrl) {
                                setTimeout(() => {
                                    window.location.href = redirectUrl;
                                }, 1000);
                            }

                        } else {
                            toastr.error(data.message || "Registration failed");
                        }
                    },

                    error: function (data) {
                        if (data && data.responseJSON && data.responseJSON.message) {
                            console.log(data.responseJSON.message);
                            toastr.error(data.responseJSON.message);
                        } else {
                            console.log(data);
                            toastr.error("Registration failed");
                        }
                    },

                    complete: function () {
                        submitButton.disabled = false;
                        submitButton.removeAttribute('data-kt-indicator');
                    }
                });

            } catch (err) {
                console.error(err);
                toastr.error("Image processing failed");

                submitButton.disabled = false;
                submitButton.removeAttribute('data-kt-indicator');
            }
        });
    };

    return {
        init: function () {
            form = document.querySelector('#_change_password_from');
            submitButton = document.querySelector('#_change_password_submit');

            if (form && submitButton) {
                handleForm();
            }
        }
    };

}();

KTUtil.onDOMContentLoaded(function () {
    RegisterGeneral.init();
});
</script>

</html>